// =============================================================================
// Quire-entry.scss
// -----------------------------------------------------------------------------
// Entry-layout specific styles (catalogue-style pages with prominent images at
// the beginning). The main text content area of this page uses the .quire-page
// class and sub-classes, but elements specific to this layout use .quire-entry
// instead.

// scss-lint:disable EmptyRule

// Variables
// -----------------------------------------------------------------------------
$color-primary: #3273dc !default;
$dark: #363636 !default;

$navbar-height: 3rem !default;
$navbar-height: 3.5rem;
$quire-entry-header-height: 6rem !default;

$quire-entry-image-color: $dark !default;
$quire-entry-image-icons-color: $white !default;
$quire-page-link-color: $color-primary !default;


// .quire-entry
// -----------------------------------------------------------------------------
.quire-entry {
  &__image {
    @include foreground-color($quire-entry-image-color,$quire-entry-image-icons-color);
    background-color: $quire-entry-image-color;
    height: calc(100vh - #{$quire-entry-header-height} - #{$navbar-height});
    display: flex;
    align-items: center;
    justify-content: center;

    @media print {
      background-color: transparent;
      @include foreground-color(#fff,$page-text-color);
    }

    &__group-container {
      @media print {
        figure {
          display: none;
        }
        figure:first-of-type {
          display: block;
        }
      }
    }

    &__group-container,
    figure {
      flex: 1 1 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    img {
      margin: 0 auto;
      max-height: 100%;
    }

    .quire-image-control {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      font-size: .8rem;
      border-color: darken($quire-entry-image-icons-color, 15%);
      height: 2.25rem;
      z-index: 10;

      &.quire-image-info {
        background-color: darken($quire-entry-image-color, 5%);
        right: 4.5rem;
        max-width: 400px;
        display: none;
        padding: 1rem 1rem 2.5rem 1rem;
        border-radius: 3px;
        z-index: 1;
        height: auto;
        @media print {
          background-color: transparent;
          display: block;
          font-size: 9pt;
          line-height: 14pt;
        }
        &__caption {
          display: inline-block;
          font-size: 1rem;
          margin-bottom: 1rem;
          @media print {
            display: block;
            font-size: 9pt;
            line-height: 14pt;
          }
        }
        &__credit {
          @media print {
            display: block;
            font-size: 7.5pt;
            line-height: 14pt;
          }
        }
      }

      &--more {
        right: 4.5rem;

        &:hover,
        &:focus {
          border-left-width: 0;
          border-top-width: 0;
          + .quire-image-info,
          + .quire-image-info {
            display: block;
            border: 1px solid darken($quire-entry-image-icons-color, 15%);
          }
        }

      }

      &--prev-image {
        top: calc(50% - 2.25rem);
        left: 0;
        right: initial;
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &--next-image {
        top: calc(50% - 2.25rem);
        right: 0;
        left: initial;
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      svg {
        position: relative;
        height: 1.5em;
        width: 1.5em;
        & img {
          position: absolute;
          top: 0;
          left: 0;
          max-height: 1.5em;
        }
      }
    }
  }

  &__header {
    margin-bottom: 3rem;
    padding-top: .25rem;
    @media print {
      height: 3in;
      text-align: center;
      // This border is a hack for PrinceXML which doesn't 
      // otherwise recognize the box sizing for some reason
      border: 1pt solid transparent;
    }
  }

  &__tombstone {
    padding-top: 0;
    svg {
      position: relative;
      height: 1.25em;
      width: 1.25em;
      margin-left: .5em;
      fill: $quire-page-link-color;
      & img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 1.5em;
      }
    }
    @media print {
      font-size: 9pt;
      margin-bottom: .125in;
    }
  }

  .quire-page__content {
    padding-top: 1.5rem;
  }
}

// Augmentations
// -----------------------------------------------------------------------------

.hybritexte-page__scroll-wrapper {
  position: relative; }

.hybritexte-augmentation--step-marker {
  position: absolute;
  display: inline-block;
  height: 0;
  width: 100%;
  max-width: none !important;
  left: 0;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $light;
    right: -1rem;
    top: 0;

    @media (min-width: $hybrilivre-col-breakpoint) {
      top: 0;
      left: 50%;
      border-top: 1px solid rgba($page-text-color, 0.1);;
      border-bottom: 1px solid rgba($page-text-color, 0.1);;
    }
  }
}

.has-2-columns {
  position: relative;
}

.has-2-columns > :not(.right-column) {
  @media (min-width: $hybrilivre-col-breakpoint) {
    max-width: 50%;
    max-width: calc(50% - 1.5em);
  }
}
.has-2-columns > blockquote:not(.right-column) {
  @media (min-width: $hybrilivre-col-breakpoint) {
    max-width: calc(50% - 3em);
  }
}

.hybritexte-page__separator {
  // do not show column separator under the breakpoint
  display: none;
  @media (min-width: $hybrilivre-col-breakpoint) {
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 50%;
    width: 6%;
    height: 100%;
    border-left: 1px solid rgba($page-text-color, 0.1);
    // background gradient, homothetic page
  //  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
}

.right-column {
  display: none;
  
  @media (min-width: $hybrilivre-col-breakpoint) {
    display: block;
    max-width: calc(50% - 1.5em);
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: $hybrilivre-col-breakpoint) {
  .hybritexte-augmentation {
    &__augmentation {
      width: 50%;
      float: right;
      padding-left: 2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      position: absolute;
      height: 100vh;
      z-index: 2;
      // page background color when augmentations overlap
      background-color: $light;
      
      &::before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 15vh;
        top: -15vh;
        background-image: linear-gradient(0deg, rgba($light, 1), rgba($light, 0));
        z-index: 4;
      }
      &.is-stuck {
        position: sticky;
        z-index: 2;
        top: 0;
        bottom: 0;
      }
    }
    
    &__inner {
      height: 100%;

      &.fade-in.js-enabled {
        opacity: .6;
        transition: opacity .45s;
        .is-active & {
          opacity: 1;
        }
      }
    }
    &__figure {
      height: 100%;
      display: flex;
      flex-direction: column
    }
    &__image {
      max-height:calc(80vh - 4rem)
    }
  }
}