// =============================================================================
// Quire-entry.scss
// -----------------------------------------------------------------------------
// Entry-layout specific styles (catalogue-style pages with prominent images at
// the beginning). The main text content area of this page uses the .quire-page
// class and sub-classes, but elements specific to this layout use .quire-entry
// instead.

// scss-lint:disable EmptyRule

// Variables
// -----------------------------------------------------------------------------
$color-primary: #3273dc !default;
$dark: #363636 !default;

$navbar-height: 3rem !default;
$quire-entry-header-height: 6rem !default;

$quire-entry-image-color: $dark !default;
$quire-entry-image-icons-color: $white !default;
$quire-page-link-color: $color-primary !default;


// .quire-entry
// -----------------------------------------------------------------------------
.quire-entry {
  &__image {
    @include foreground-color($quire-entry-image-color,$quire-entry-image-icons-color);
    background-color: $quire-entry-image-color;
    height: calc(100vh - #{$quire-entry-header-height} - #{$navbar-height});
    display: flex;
    align-items: center;
    justify-content: center;

    @media print {
      background-color: transparent;
      @include foreground-color(#fff,$page-text-color);
    }

    &__group-container {
      @media print {
        figure {
          display: none;
        }
        figure:first-of-type {
          display: block;
        }
      }
    }

    &__group-container,
    figure {
      flex: 1 1 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    img {
      margin: 0 auto;
      max-height: 100%;
    }

    .quire-image-control {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      font-size: .8rem;
      border-color: darken($quire-entry-image-icons-color, 15%);
      height: 2.25rem;
      z-index: 10;

      &.quire-image-info {
        background-color: darken($quire-entry-image-color, 5%);
        right: 4.5rem;
        max-width: 400px;
        display: none;
        padding: 1rem 1rem 2.5rem 1rem;
        border-radius: 3px;
        z-index: 1;
        height: auto;
        @media print {
          background-color: transparent;
          display: block;
          font-size: 9pt;
          line-height: 14pt;
        }
        &__caption {
          display: inline-block;
          font-size: 1rem;
          margin-bottom: 1rem;
          @media print {
            display: block;
            font-size: 9pt;
            line-height: 14pt;
          }
        }
        &__credit {
          @media print {
            display: block;
            font-size: 7.5pt;
            line-height: 14pt;
          }
        }
      }

      &--more {
        right: 4.5rem;

        &:hover,
        &:focus {
          border-left-width: 0;
          border-top-width: 0;
          + .quire-image-info,
          + .quire-image-info {
            display: block;
            border: 1px solid darken($quire-entry-image-icons-color, 15%);
          }
        }

      }

      &--prev-image {
        top: calc(50% - 2.25rem);
        left: 0;
        right: initial;
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &--next-image {
        top: calc(50% - 2.25rem);
        right: 0;
        left: initial;
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      svg {
        position: relative;
        height: 1.5em;
        width: 1.5em;
        & img {
          position: absolute;
          top: 0;
          left: 0;
          max-height: 1.5em;
        }
      }
    }
  }

  &__header {
    margin-bottom: 3rem;
    padding-top: .25rem;
    @media print {
      height: 3in;
      text-align: center;
      // This border is a hack for PrinceXML which doesn't 
      // otherwise recognize the box sizing for some reason
      border: 1pt solid transparent;
    }
  }

  &__tombstone {
    padding-top: 0;
    svg {
      position: relative;
      height: 1.25em;
      width: 1.25em;
      margin-left: .5em;
      fill: $quire-page-link-color;
      & img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 1.5em;
      }
    }
    @media print {
      font-size: 9pt;
      margin-bottom: .125in;
    }
  }

  .quire-page__content {
    padding-top: 1.5rem;
  }
}

.scroll__wrapper {
  position: relative;
}


.scroll__wrapper {
  position: relative; }

.augmentation__reftext {
  display: inline-block; }
  .augmentation__reftext > span {
    background-color: rgba(174, 125, 101, 0.3);
    transition: background-color .3s; }
  .augmentation__reftext:hover > span {
    background-color: rgba(174, 125, 101, 0.45); }

.hybrilivre-augmentation__step-marker {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: calc(50% + 1.5em);

  &::after {
    content: "";
    background-image: linear-gradient(90deg,tomato 67%,hsla(0,0%,100%,0));
    position: absolute;
    height: 1px;
    top: 1.5em;
    left: 0;
    width: 100%;
    display: inline-block;
  }
}

.quire-page__content .content > :not(.right-column) {
  @media (min-width: $hybrilivre-col-breakpoint) {
    max-width: 50%;
    max-width: calc(50% - 1.5em);
  }
}
.quire-page__content .content > blockquote:not(.right-column) {
  @media (min-width: $hybrilivre-col-breakpoint) {
    max-width: calc(50% - 3em);
  }
}

.hybrilivre-augmentation__separator {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 50%;
  width: 6%;
  height: 100%;
  border-left: 1px solid rgba($page-text-color, 0.1);
  // background gradient, homothetic page
//  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.hybrilivre-augmentation__augmentation {
    width: 50%;
    float: right;
    top: 1em;
    bottom: 1em;
    padding-left: 2rem;
}
.hybrilivre-augmentation__augmentation {
    height: 100vh;
    display: none;
    z-index: 2;
}
@media screen and (min-width: $hybrilivre-col-breakpoint) {
 .hybrilivre-augmentation__augmentation {
  width:50%;
  float:right;
  top:1em;
  bottom:1em;
  padding-left:2rem
 }
 .hybrilivre-augmentation__augmentation.is-active {
  position:-webkit-sticky;
  position:sticky;
  display:block
 }
}
.hybrilivre-augmentation__figure {
 height:100%;
 display:flex;
 flex-direction:column
}
.hybrilivre-augmentation__image {
 max-height:calc(80vh - 4rem)
}

.augmentation {
  height: 300px;
  width: 100%;
  background: #221411;
  display: none; }
  .augmentation.is-active {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 2em; }

.annotation__reftext {
  background-color:yellow;
}

.annotation {
  height: 300px;
  width: 100%;
  background: $dark;
  display: none;
  
  &.is-active {
    display: block;
    position: sticky;
    top: 2em;
  }
}
