{{/*
  Single page default template. Normal page content will appear in the
  .Content outlet below.
*/}}

{{ define "main" }}

<div class="{{ partial "page-class.html" . }}" id="main" role="main">
  {{ partial "page-header.html" . }}

  <section class="section quire-page__content content" id="content">
    <div class="container">

      {{ if .Content }}
      {{ .Content }}

      
      {{- if isset $.Site.Params "imagedir" }}
      {{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
      {{ else }}
      {{ $.Scratch.Set "imageDir" "" }}
      {{ end -}}
      {{- $imgDir := $.Scratch.Get "imageDir" -}}
      {{- if .Prev -}}
      {{- if and (ne .Prev.Params.online false) (ne .Prev.Type "data") -}}
      <footer class="hybritexte-page__footer">
        <a href="{{ .Prev.Permalink }}" rel="next" class="button is-primary is-large">
          {{ if isset .Prev.Params "number" }}{{ .Prev.Params.number }}. {{ end }}{{ .Prev.Title }} &rarr;
        </a>
      </footer>
      {{- end -}}
      {{- end -}}
      {{ end }}
    </div>
  </section>

</div>
{{ end }}

