{{/*
  Augmentation Hybritexte
  
  This partial displays an augmentation which goes on the right-hand side of a tablet/PC display.

  An augmentation object must be passed (usually defined in a yaml collection associated with the content).

  Usage (in layout templates):

  {{ $augmentationObj := dict "type" "image" ... }}
  {{ partial "hybritexte-augmentation.html" $augmentationObj }}

  Properties:
  - id
  - type {string} image|text|comment|audio|video|iframe
  - title {string} markdown-formatted string
  - author {string}
  - caption {string}
  - copyright {string}
  - year_of_publication {string}
  - src {string} nom du fichier média
  - location {string}
  - medium
  - content {string} markdown-formatted string

  Available types:
  - image
  - text
  - comment
  - audio
  - video
  - iframe

*/}}

{{ $validTypes := slice "image" "text" "comment" "audio" "video" "iframe" }}

<div class="hybritexte-augmentation__augmentation right-column" {{ with .id }}data-augmentation-id="{{ . }}" id="hybritexte-augmentation-{{ . }}"{{ end }}>
  <div class="hybritexte-augmentation__inner fade-in">
    {{/* EMTPY TYPE BLOCK */}}
    {{ if eq .type "empty" }}
    {{/* Just an empty block! */}}
    {{ else }}
    {{/* BEGIN CONDITIONAL ID BLOCK */}}
    {{ if eq .id nil }}
    
    {{- $errorNoId := dict "message" "Aucun ID n'est associé. <br><br>Exemple :" "example" "id: 1" -}}
    {{ partial "error-message.html" $errorNoId }}

    {{ else }}
    
    {{/* BEGIN VALID TYPES */}}
    {{ if and (isset . "type") (in $validTypes .type) }}
    
    {{/* BEGIN IMAGE TYPE */}}
    {{ if eq .type "text" }}
    <div class="hybritexte-augmentation--text">
      {{ if .content }}
      <div class="hybritexte-augmentation__text-wrap">
        {{ .content | markdownify }}
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{/* END IMAGE TYPE */}}

    {{/* BEGIN IMAGE TYPE */}}
    {{ if eq .type "image" }}
    <figure class="hybritexte-augmentation--figure">
      <img class="hybritexte-augmentation--figure__image"
           {{ with .id }}id="{{ . }}-image"{{ end }}
           src="{{ .src }}"
           alt="{{ with .title }}{{ . }}{{ end }}">

      <figcaption class="hybritexte-augmentation--figure__caption">
        {{ if .title }}
        <span class="hybritexte-augmentation--figure__title">
          {{ .title | markdownify }}
        </span>
        {{ end }}

        {{ if .caption}}
        <span class="hybritexte-augmentation--figure__caption__text">
          {{ .caption | markdownify }}
        </span>
        {{ end }}
      </figcaption>
    </figure>    
    {{ end }}
    {{/* END IMAGE TYPE */}}

    {{ else }}
    {{- $errorBadType := dict "message" "Le `type` d'augmentation n'est pas supporté ou n'est pas spécifié. <br><br>Exemple :" "example" "type: image" -}}
    {{ partial "error-message.html" $errorBadType }}

    {{ end }}
    {{/* END VALID TYPES */}}

    {{/* END CONDITIONAL ID BLOCK */}}
    {{ end }}
    
    {{/* END EMTPY TYPE BLOCK */}}
    {{ end }}
  </div>
</div>