<div class="hybritexte-augmentation__augmentation right-column" data-augmentation-id="{{ .id }}">
  
  <figure class="quire-figure">
    <img class="quire-figure__image hybritexte-augmentation__image"
         id="{{ .id }}-image"
         src="{{ .src }}"
         alt="">

    <figcaption class="quire-figure__caption hybritexte-augmentation__caption">
      {{ if .title }}
      <h3>
        {{ .title | markdownify}}
      </h3>
      {{ end }}

      {{ if .caption}}
      {{ .caption | markdownify}}
      {{ end }}
    </figcaption>
  </figure>
</div>